/* navigation */
nav{
  position: fixed;
  top: 0;
  width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Bungee Shade', cursive;
}

li a:hover {
    background-color: #111;
}

/*heading*/
#home h1{
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  font-size: 50px;
}

.floating{
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}
}


/* section */
body{
  font-family: 'Bungee', cursive;

}

section:nth-child(2n+1) {
  color:#FFFFFF;
  background: #000000;
  margin: 0 auto;
}
section:nth-child(2n+2) {
  color: #000000;
  background: #993399;
  margin: 0 auto;
}

section h1{
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  font-family: 'Bungee', cursive;
  font-size: 30px;
}

section h2{
  color: #FFEE93;
}

section p{
  font-family: 'Bungee', cursive;
  font-size: 1.25em;
}

section .item{
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 20px 0;
}

section .information h2{
  margin-bottom: 20px;
  font-family: 'Bungee', cursive;
}

/* Slideshow */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/*other*/


.image{
  float: left;
  width: 27%;
  margin-right: 3%;
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 50%;
}

.image2{
  float: right;
  width: 27%;
  margin-right: 3%;
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 50%;

}
.content-wrap{
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 25px 0;
  overflow: auto;
}
.right{
  float: right;
  margin: 0 0 10px 10px;
  height: 200px;
  width: 200px;
}

.left2{
  float: left;
  margin: 0 0 10px 10px;
  height: 200px;
  width: 200px;
  padding: 20px;
}


.left{
  float: left;
  margin: 0 0 10px 10px;
  float: left;
  width: 27%;
  margin-right: 3%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 50%;
}
/* home */
#home h2{
  text-align:center;
  font-family: 'Bungee', cursive;
  color: #000000;
}
